apiVersion: "logging.openshift.io/v1"
kind: "ClusterLogging"
metadata:
  name: "instance" 
  namespace: "openshift-logging"
spec:
  managementState: "Managed"  
  logStore:
    type: "elasticsearch"  
    retentionPolicy: 
      application:
        maxAge: 7d
      infra:
        maxAge: 7d
      audit:
        maxAge: 7d
    elasticsearch:
      nodeCount: 3 
      nodeSelector:
        node-role.kubernetes.io/logmon: ""
      tolerations:
      - key: infra 
        value: reserved
        effect: NoSchedule
      - key: infra 
        value: reserved
        effect: NoExecute  
      storage:
        storageClassName: "ocs-storagecluster-ceph-rbd"
        size: 300G
      resources: 
        limits:
          cpu: 500m
          memory: "16Gi"
        requests:
          cpu: 500m
          memory: "16Gi"
      proxy: 
        resources:
          limits:
            memory: 256Mi
          requests:
             memory: 256Mi
      redundancyPolicy: "SingleRedundancy"
  visualization:
    type: "kibana"  
    kibana:
      replicas: 1
      nodeSelector:
        node-role.kubernetes.io/logmon: ""
      tolerations:
      - key: infra 
        value: reserved
        effect: NoSchedule
      - key: infra 
        value: reserved
        effect: NoExecute  
  collection:
    logs:
      type: "fluentd"  
      fluentd: 
        tolerations:
        - operator: "Exists"
