# Logging parameters
# logging_node_selector is in the format '<selector_key>' only
logging_node_selector='node-role.kubernetes.io/logmon'
logging_config="logging-config.yaml"
logging_storageclass="ocs-storagecluster-ceph-rbd"
logging_storage_size="300Gi"

# Image registry parameters
# registry_node_selector is in the format '<selector_key>' only
registry_node_selector='node-role.kubernetes.io/infra-int'
registry_pvc_config="registry-pvc-config.yaml"
# ReadWriteMany - using the cephfs
registry_storageclass="ocs-storagecluster-cephfs"
registry_storage_mode="ReadWriteMany"
registry_storage_size="100Gi"

# Monitoring parameters
# monitoring_node_selector is in the format '<selector_key>' only
monitoring_node_selector='node-role.kubernetes.io/logmon'
monitoring_config="cluster-monitoring-config.yaml"

## Alertmanager parameters
alertmanager_storageclass="ocs-storagecluster-ceph-rbd"
alertmanager_storage_size="5Gi"

## Prometheus parameters
prometheusk8s_stroageclass="ocs-storagecluster-ceph-rbd"
prometheusk8s_storage_size="400Gi"
prometheusk8s_retention="7d"

## user-workload-monitoring parameters
prometheus_stroageclass="ocs-storagecluster-ceph-rbd"
prometheus_storage_size="100Gi"
prometheus_retention="7d"
user_workload_config="user-workload-config.yaml"


## Log Forwarding to an external ElasticSearch 
es_username="<username>"
es_password="<password>"
es_url="https://<ES_URL>"

## Ingress
ingress_node_selector='node-role.kubernetes.io/infra-int'

## etcd backup
etcd_backup_project="ocp-etcd-backup"
etcd_backup_sa_config="ocp-etcd-backup-sa.yaml"
etcd_backup_clusterrole="ocp-etcd-backup-clusterrole.yaml"
etcd_backup_clusterrolebinding="ocp-etcd-backup-clusterrolebinding.yaml"
etcd_backup_cronjob="ocp-etcd-backup-cronjob.yaml"
# NFS Server must be updated in the etcd backup template. 
#etcd_backup_nfs_path="<NFS_SERVER>:/<BACKUP_PATH>"

# LDAP
export ldap_project="ldap-sync"
export ldap_server="https://<ldap_server>:<port>"
export binddn="cn=xxx,ou=xxxx,dc=xx,dc=xx,dc=xxx"
export ldap_query_string='dc=xx,dc=xx,dc=xx?uid'

export logging_node_selector logging_storageclass logging_storage_size logging_config
export registry_node_selector registry_pvc_config registry_storage_mode registry_storage_size registry_storageclass
export monitoring_node_selector monitoring_config 
export alertmanager_storageclass alertmanager_storage_size
export prometheusk8s_stroageclass prometheusk8s_storage_size prometheusk8s_retention user_workload_config
export prometheus_stroageclass prometheus_storage_size prometheus_retention
export es_username es_password es_url
export etcd_backup_project etcd_backup_clusterrole etcd_backup_sa_config etcd_backup_clusterrolebinding etcd_backup_cronjob etcd_backup_nfs_path

# Reference
# Infra node OpenShift 4: https://access.redhat.com/solutions/5034771 - how to move workload to infra nodes 
